{% extends 'layout/layout.twig' %}
{% block header %}
<div class="hero-unit text-center">
    <h2 style="margin: 0px 0px 0px 0px;">Site indexing and search</h2>
    <p style="margin: 0px 0px 0px 0px;" >Use our project for on-demand site indexing</p>
</div>
{% endblock %}

{% block data %}
{% verbatim %}
    <div class="row-fluid" ng-app="indexerApp" ng-controller="mainCtrl">
        <label style="margin-bottom: 10px" ng-click="sendRequest('getStat')" class="label label-info pull-right"><b>Indexer statistic:</b> <i>in query: </i>{{stat.query}}<i> in progress: </i>{{stat.progress}}<i> done: </i>{{stat.done}}</label>
        <tabset class="span11 tabbable tabs-right">
            <tab>
            <tab-heading>
                <h5>Page info</h5>
            </tab-heading>
                <div class="span5" style="height: 550px">
                    <blockquote>
                        <p style="font-size: 145%">Enter target url</p>
                    </blockquote>
                        <div><input type="text" ng-change="displayAdd = false; displayDomain = false;" placeholder="URL" style="font-size:150%;width: 100%; height: 50px" ng-model="url"></div>

                    <button class="btn btn-info btn-large btn-block" ng-click="sendRequest('checkStatus')" >{{ getActionName('checkStatus') }}</button>
                    <button class="btn btn-success btn-large btn-block" ng-show="displayAdd" ng-click="sendRequest('toQuery')" >{{ getActionName('toQuery') }}</button>
                    <button class="btn btn-success btn-large btn-block" ng-show="displayDomain" ng-click="sendRequest('domainInfo')" >{{ getActionName('domainInfo') }}</button>
                </div>
                <div class="span6 span-out">
                        <div ng-bind-html-unsafe="message"></div>
                </div>
            </tab>
            <tab>
            <tab-heading>
                <h5 >Search</h5>
            </tab-heading>
                <div class="span5">
                    <blockquote>
                        <p style="font-size: 145%">Enter search request</p>
                    </blockquote>
                    <div><input type="text" style="font-size:150%;width: 100%; height:50px" placeholder="Search"  ng-model="searchText"></div>
                    <a class="btn btn-success btn-block btn-large" ng-click="sendSearchRequest()" >&nbsp&nbspSearch&nbsp&raquo </a>
                </div>
                <div class="span6 span-out">
                    <h5 ng-show="links.length < 1 && searchResult.length < 1">Search results will show here</h5>
                    <h5 ng-show="searchResult.length > 1">{{searchResult}}</h5>
                    <ol class="nav-list">
                        <li ng-repeat="link in links">
                            <i class="icon-tasks pull-right" ng-click="divShow = !divShow" ></i>&nbsp&nbsp
                            <a href="{{ link.url }}" title = "{{ link.domain }}" >{{ link.title }}</a>
                            <div class="well well-small" ng-show="divShow"> <a href="/preview?url={{ link.hash_url }}">Saved copy</a> <small> last indexed: {{link.date}}</small></div>
                        </li>
                    </ol>
                    <div style="height: 10px"></div>
                </div>
            </tab>
        </tabset>
    </div>
{% endverbatim %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/libs/Chart.min.js"></script>
    <script type="text/javascript" src="/js/indexerMisc.js"></script>
    <script type="text/javascript" src="/js/indexerApp.js"></script>
{% endblock %}