@import "bootstrap-responsive.min.css";
body{
    padding-top: 40px;
    overflow-y: scroll;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 2.76243%;
}
.row-fluid .span-out {
    margin-left: 4.76243%;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(91, 202, 255, 0.80);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
    background: url('EEEE');
}
.hero-unit{
 padding: 5px 5px 5px 5px;
 margin-bottom: 5px;

}