<h1>An error occurred</h1>
<h2>{{ message }}</h2>

{% if display_exceptions %}
{% if exception %}
<hr/>

<h2>Additional information</h2>
<h3>Exception:</h3>
<dl>
    <dt>File:</dt>
    <dd>
        <pre class="prettyprint linenums">{{ exception.getFile() }}:{{ exception.getLine() }}</pre>
    </dd>
    <dt>Message:</dt>
    <dd>
        <pre class="prettyprint linenums">{{ exception.getMessage() }}></pre>
    </dd>
    <dt>Stack trace:</dt>
    <dd>
        <pre class="prettyprint linenums">{{ exception.getTraceAsString() }}</pre>
    </dd>
</dl>


{% else %}

<h3>No Exception available</h3>

{% endif %}

{% endif %}
